# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# DVC cache
.dvc/cache/

# VS Code
.vscode/

# Ignore the large data files
data/*
# BUT do NOT ignore the DVC tracking files
!data/*.dvc
!data/.gitignore